@import url('https://fonts.googleapis.com/css?family=PT+Sans');
body{

  background-image: url('./Img/Star-Wars-Background.jpg');
}

.App {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content:center;
  align-items: center;
  min-height: 800px;
}

.searchBar{
  min-width: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
  
}
input {
 font-size: 20px;
 border-radius: 10px;
}

.button{
  height: 25px;
  width: 100px;
  margin: 2% 0;
  border: black solid 1px;
  border-radius: 10px;
  margin-left:10px;
  font-family: 'PT Sans', sans-serif;
}

.ListContainer{
  margin-top: 10%;
  display:flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(245, 247, 250);
  min-width: 60%;
  min-height: 100px;
  border: rgb(40, 40, 41) solid 1px;
  border-radius: 10px;

}

ul {
  list-style: none;
  font-size: 20px;
  min-width: 100%;
  font-family: 'PT Sans', sans-serif;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
} 